<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.maskon">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Maskon">
        <activity
            android:name=".EditDependent"
            android:exported="false" />
        <activity
            android:name=".AddDependent"
            android:exported="false" />
        <activity
            android:name=".ManageDependent"
            android:exported="false" />
        <activity
            android:name=".ProfileVistitor"
            android:exported="false" />
        <activity
            android:name=".ProfileCitizen"
            android:exported="false" />
        <activity
            android:name=".ForgotPass"
            android:exported="false" />
        <activity
            android:name=".RegisterCitizen"
            android:exported="false" />
        <activity
            android:name=".RegisterVisitor"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".MovementRecordStaff"
            android:exported="false" />
        <activity
            android:name=".CheckedOut"
            android:exported="false" />
        <activity
            android:name=".UserTracement"
            android:exported="false" />
        <activity
            android:name=".ScanQRCode"
            android:exported="false" />
        <activity
            android:name=".MovementHistory"
            android:exported="false" />
        <activity
            android:name=".CheckInMenu"
            android:exported="false" />
        <activity
            android:name=".view.VaccineView.VaccineRegistration"
            android:exported="false"
            android:label="@string/title_activity_vaccine_registration" />
        <activity
            android:name=".view.QuarantineRecordView.Homepg_Quarantine"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>