<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.maskon">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Maskon">
        <activity
            android:name=".controller.InformationManagement.activities.InformationMain"
            android:exported="true"
            android:parentActivityName=".controller.QuarantineCenterManagement.AdminViewCenterList"/>
        <activity
            android:name=".controller.InformationManagement.activities.QuestionsActivity"
            android:exported="true"
            android:parentActivityName=".controller.QuarantineCenterManagement.AdminViewCenterList"/>
        <activity
            android:name=".controller.InformationManagement.activities.QuestionsActivityRecycler"
            android:exported="true"
            android:parentActivityName=".controller.QuarantineCenterManagement.AdminViewCenterList"/>
        <activity
            android:name=".controller.QuarantineCenterManagement.UserViewCenterList"
            android:exported="true"
            android:parentActivityName=".controller.QuarantineCenterManagement.AdminViewCenterList"/>
        <activity
            android:name=".controller.QuarantineCenterManagement.AdminViewCenterList"
            android:exported="true"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".controller.QuarantineCenterManagement.AddNewCenter"
            android:exported="true"
            android:parentActivityName=".controller.QuarantineCenterManagement.AdminViewCenterList"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>