<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.maskon">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Maskon">
        <activity
            android:name=".view.VaccineView.VaccineView"
            android:exported="true" />
        <activity
            android:name=".view.VaccineView.VaccineRegistration"
            android:exported="true"
            android:label="@string/title_activity_vaccine_registration" />
        <activity
            android:name=".view.VaccineView.VaccineInformation"
            android:exported="true" />
        <activity
            android:name=".view.VaccineView.VaccineDependent"
            android:exported="true" />
        <activity
            android:name=".view.VaccineView.VaccineCertificate"
            android:exported="true" />
        <activity
            android:name=".view.RegistrationView.VisitorLogin"
            android:exported="true" />
        <activity
            android:name=".view.RegistrationView.VisitorRegister"
            android:exported="true" />
        <activity
            android:name=".view.CenterView.QuarantineCenterList"
            android:exported="true" />
        <activity
            android:name=".view.DependentView.DependentRegister"
            android:exported="true" />
        <activity
            android:name=".view.DependentView.DependentProfile"
            android:exported="true" />
        <activity
            android:name=".view.InformationView.Covid19Information"
            android:exported="true" />
        <activity
            android:name=".view.MovementView.CheckinMenu"
            android:exported="true"
            android:label="CheckinMenu"/>
        <activity
            android:name=".view.QuarantineRecordView.AddTestResults"
            android:exported="true"
            android:label="@string/title_activity_add_test_results" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>